.container {
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #2b2b2b;
  padding: 0 1rem;
}

.boxCart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cartValue {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-right: 8px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2b2b2b;
  width: 100%;
}

.footerTitle {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}
