.container {
  display: flex;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #2b2b2b;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2b2b2b;
  width: 100%;
}

.footerTitle {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
